In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Kurilsk,RU,2020-05-10 04:46:22,50.68,156.12,34.86,85,80,16.73
1,1,Borba,BR,2020-05-10 04:46:23,-4.39,-59.59,73.94,97,65,1.72
2,2,Lebu,CL,2020-05-10 04:46:23,-37.62,-73.65,55.94,82,90,11.43
3,3,Ribeira Grande,PT,2020-05-10 04:46:23,38.52,-28.70,59.23,69,20,22.66
4,4,New Norfolk,AU,2020-05-10 04:46:23,-42.78,147.06,53.01,70,73,5.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Namibe,AO,2020-05-10 04:46:23,-15.20,12.15,78.33,49,88,2.24
8,8,Matara,LK,2020-05-10 04:46:24,5.95,80.54,89.74,64,100,3.13
11,11,Rikitea,PF,2020-05-10 04:46:24,-23.12,-134.97,75.69,68,49,5.19
12,12,Namatanai,PG,2020-05-10 04:46:24,-3.67,152.43,86.85,69,36,10.04
17,17,Adrar,MR,2020-05-10 04:46:25,20.50,-10.07,82.62,15,47,12.75
18,18,Vaini,TO,2020-05-10 04:46:25,-21.20,-175.20,77.00,94,75,5.82
19,19,Buala,SB,2020-05-10 04:46:25,-8.14,159.59,85.69,72,62,6.55
20,20,Carnarvon,AU,2020-05-10 04:46:25,-24.87,113.63,77.40,51,100,10.67
28,28,Kawalu,ID,2020-05-10 04:46:26,-7.38,108.21,89.91,53,75,2.86
33,33,Waingapu,ID,2020-05-10 04:46:28,-9.66,120.26,84.69,67,6,15.32

In [21]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
7      Namibe      AO     78.33 -15.20   12.15
8      Matara      LK     89.74   5.95   80.54
11    Rikitea      PF     75.69 -23.12 -134.97
12  Namatanai      PG     86.85  -3.67  152.43
17      Adrar      MR     82.62  20.50  -10.07
18      Vaini      TO     77.00 -21.20 -175.20
19      Buala      SB     85.69  -8.14  159.59
20  Carnarvon      AU     77.40 -24.87  113.63
28     Kawalu      ID     89.91  -7.38  108.21
33   Waingapu      ID     84.69  -9.66  120.26

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

         City Country  Max Temp    Lat     Lng              Hotel Name
7      Namibe      AO     78.33 -15.20   12.15        Chik-Chik Namibe
8      Matara      LK     89.74   5.95   80.54  Amaloh Boutique Resort
11    Rikitea      PF     75.69 -23.12 -134.97          Pension Maro'i
12  Namatanai      PG     86.85  -3.67  152.43         Namatanai Hotel
17      Adrar      MR     82.62  20.50  -10.07
18      Vaini      TO     77.00 -21.20 -175.20     Keleti Beach Resort
19      Buala      SB     85.69  -8.14  159.59    Maringe Lagoon Lodge
20  Carnarvon      AU     77.40 -24.87  113.63   Hospitality Carnarvon
28     Kawalu      ID     89.91  -7.38  108.21        KOSAN UNGU UNSIK
33   Waingapu      ID     84.69  -9.66  120.26      Pondok Wisata Elim

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))